
.header{
    height: 90px;
    width: 100%;
    background-color: #ffff;
    -webkit-box-pack: start;
    
    justify-content: space-between;
    display: flex;
    border: ipx ridge black;
    
    
    

}
.slider_container{
    height: 500px;
    width: 100%;
}
.nav{
    height: 90px;
    width: 100%;
    background-color: #ffff;
    -webkit-box-pack: start;
    position: fixed;
    justify-content: space-between;
    display: flex;
    border: ipx ridge black;
    padding-top: 50px;

}
.header_logo{
    height: 90px;
    width: 125px;
    -webkit-box-flex: 0;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 20px;


}
.header_logo img{ 
    height: 50px;
    width: 70px;
    text-decoration: none;
    


}
.header_menu{
    height: 90px;
    width: 700px;
    -webkit-box-ordinal-group: 2;
    display: inline-block;
    transition: opacity .2s linear, visibility .2s linear;
    left: 0;
    text-decoration: none;
}
.header_menu_contant{
    height: 90px;
    width: 1000px;
    padding: 0;
    box-sizing: border-box;
    
    
}

.header_menu_contant ul{
    list-style-type: none;
    height: 90px;
    margin: 0;
    padding: 0;
    
}
.header_menu_contant ul li{
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #ffff;
    height: 90p x;

    display: inline-block;

}
.header_menu_contant ul li a{
    color: black;
    text-decoration: none;
    font-size: 15px;
}
.header_language {
    height: 90px;
    width: 100px;
    padding: 0;
    box-sizing: border-box;
    padding-left: 30px;
    
}
.header_language ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.header_language ul li {
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 25px;
    border-right: 1px solid rgb(12, 12, 12);
    height: 90px;

    display: inline-block;

}
.header_language ul li a{
    color: black;
    text-decoration: none;
}
.header_search{
    width: 80px;
    height: 90px;

}
.header_search i{
    list-style-type: none;
    padding-left: 60px;
    margin: 0;
    padding: 0;
}
.header_search i a{
padding-top: 36px;
padding-left: 45PX;
padding-right: 20px;
text-decoration: none;
}
.header_login{
    width: 150px;
    height: 90px;
    background-color: brown;
    padding-left: 0;
}
.header_login ul{
    list-style-type: none;
    padding-left: 50px;
    padding-right: o;
    margin: 0;
    padding: 0;
}
.header_login ul li {
    padding-top: 25px;
    padding-left: 30px;
}
.header_login ul li a{
    color: #ffff;
    text-decoration: none;
}

.carousel-inner img{
    width: 80%;
}
.swiper{
    width: 100%;
    height: 135px;
    background-color: #ffff;

}
.swiper p{
    text-align: center;
padding-top: 25px;
}
.swiper p img{
    width: 150px;
    height: 40px;
    padding-left: 20px;
}
.Haberler{
    height: 100px;
    width: 100%;
    background-color: #EDECEA;
    border-bottom: 1px ridge black;

}
.Haberler P{
    text-align: center;
font-size: 30px;
padding-top: 30px;
font-family: cursive;
}
.footer{
    width: 100%;
    height: 250px;
    background-color: brown;
}
.image{
    width: 100%;
    height: 90px;
}
.image img{
    width: 100%;
height: 60px;
padding-top: 20px;
padding-left: 50px;
}


.text ul{
    list-style-type: none;
    height: 90px;
    margin: 0;
    padding: 0;
    
}
.text ul li{
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 10px;
    margin-left: 100px;
    height: 90p x;

    display: inline-block;

}
.text ul li p{
    color: #ffff;
    text-decoration: none;
    padding-left: 60px;


}
.text ul li p a{
    color: white;
    margin-left: 20px;
text-decoration: none;
}
    .news-list_container {
        width: 100%;
    }
    .swiper-container {
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;
    }
    @media only screen and (min-width: 1024px){
    div, p, span {
        line-height: 40px;
        font-size: 15px;
    
        

}
    div, p, span {
        text-align: justify;
        font-weight: 400;
        line-height: 26.6px;
        font-size: 14px;
    }

    user agent stylesheet
    div {
        display: block;
    }
    @media only screen and (min-width: 1024px){
    body {
        line-height: 28.5px;
        font-size: 15px;
    }
}
    body {
        font-family: "Roboto", sans-serif;
        color: #5a5956;
        font-weight: 300;
        background-color: #edecea;
        line-height: 26.6px;
        font-size: 14px;
    }
    body ::selection {
        color: #ffffff;
        background: #c42b33;
    }
    
    .main-slider_item swiper-slide{
        height: 500px;
    }
    #carouselExampleControls{
      
        width: 100%;
        height: 500px;
    }
}
    @media(min-width: 1024px){
    .main-slider_item_image_grand {
        display: block;
        position: absolute;
        height: 100%;
        z-index:-2;
        width: 80%;
       background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 40%, rgba(255,255,255,.5) 50%, rgba(255,255,255,0) 100%);
    }
}

.carousel-item img{
    width: 100%;
    height: 500px;
    float: right;
   
}


.hello-world {
    
    position: absolute;
    bottom: -0.75rem;
    height: 80vh;
    width: 10vw;
   
    
  
}
.hello-world h5 {
    color: black;
    float: left;
  
}
.hello-world button{
    background-color: #c42b33;
    width: 150px;
    height: 60px;
    float: left;
    margin-top: 400px;
    margin-left: -250px;
    padding-left: 10px;
}
.hello-world button a{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

@media only screen and (min-width: 1024px){
div, p, span {
    text-align: justify;
    font-weight: 400;
    line-height: 26.6px;
    font-size: 14px;
}
}
@media only screen and (min-width: 1024px){
div, p, span {
    line-height: 40px;
    font-size: 15px;
}
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
@media only screen and (min-width: 1024px){
body {
    font-family: "Roboto", sans-serif;
    color: #5a5956;
    font-weight: 300;
    background-color: #edecea;
    line-height: 26.6px;
    font-size: 14px;
}
}

@media only screen and (min-width: 1024px){
body {
    line-height: 28.5px;
    font-size: 15px;
}
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
}
@media only screen and (min-width: 1024px){
body ::selection {
    color: #ffffff;
    background: #c42b33;
}
}
.footer-link ul li p{
    float: right;
    text-decoration: none;
    padding-bottom: 60px;
    color: white;
    margin-bottom: 100px;
    list-style-type: none;

}
.homepage-tab{
    background-color: #EDECEA;
}

.homepage-tab_content {
    background: transparent;
    border-bottom: 1px solid #edecea;
}
.homepage-tab_content_item.active {
    display: block;
}
.homepage-tab_content_item {
    display: none;
}

.homepage-tab_content_item.active {
    display: block;
}
.homepage-tab_content_item {
    display: none;
}
@media only screen and (min-width: 1024px){
div, p, span {
    line-height: 28.5px;
    font-size: 15px;
}
div, p, span {
    text-align: justify;
    font-weight: 400;
    line-height: 26.6px;
    font-size: 14px;
}

user agent stylesheet
div {
    display: block;
}
}
@media only screen and (min-width: 1024px){
body {
    line-height: 28.5px;
    font-size: 15px;
}
body {
    font-family: "Roboto", sans-serif;
    color: #5a5956;
    font-weight: 300;
    background-color: #edecea;
    line-height: 26.6px;
    font-size: 14px;
}
body ::selection {
    color: #ffffff;
    background: #c42b33;
}
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
@media only screen and (min-width: 1024px){
div, p, span {
    line-height: 28.5px;
    font-size: 15px;
}
div, p, span {
    text-align: justify;
    font-weight: 400;
    line-height: 26.6px;
    font-size: 14px;
}

user agent stylesheet
div {
    display: block;
}
body {
    font-family: "Roboto", sans-serif;
    color: #5a5956;
    font-weight: 300;
    background-color: #edecea;
    line-height: 26.6px;
    font-size: 14px;
}
}
@media only screen and (min-width: 1024px){
body {
    line-height: 28.5px;
    font-size: 15px;
}
body ::selection {
    color: #ffffff;
    background: #c42b33;
}
}
@media only screen and (min-width: 769px){
.news-list .swiper-wrapper {
    padding: 80px 0;
}
}
.news-list .swiper-wrapper {
    padding: 50px 0 80px 0;
    height: auto !important;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #EDECEA;
}
@media only screen and (min-width: 1024px){
div, p, span {
    line-height: 28.5px;
    font-size: 15px;
}
div, p, span {
    text-align: justify;
    font-weight: 400;
    line-height: 26.6px;
    font-size: 14px;
}
user agent stylesheet
div {
    display: block;
}
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
@media only screen and (min-width: 1024px){
body {
    line-height: 28.5px;
    font-size: 15px;
}
body {
    font-family: "Roboto", sans-serif;
    color: #5a5956;
    font-weight: 300;
    background-color: #edecea;
    line-height: 26.6px;
    font-size: 14px;
}
body ::selection {
    color: #ffffff;
    background: #c42b33;
}
}
@media only screen and (min-width: 1024px){
.news-list_container_item {
    min-height: 150px;
}
}
@media only screen and (min-width: 769px){
.news-list_container_item {
    padding: 0 40px;
}
}
.news-list_container_item {
    padding: 0 20px;
    float: left;
}
.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
}
@media only screen and (min-width: 1024px){
div, p, span {
    line-height: 28.5px;
    font-size: 15px;
}
div, p, span {
    text-align: justify;
    font-weight: 400;
    line-height: 26.6px;
    font-size: 14px;
}

user agent stylesheet
div {
    display: block;
}
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
@media only screen and (min-width: 1024px){
body {
    line-height: 28.5px;
    font-size: 15px;
}
body {
    font-family: "Roboto", sans-serif;
    color: #5a5956;
    font-weight: 300;
    background-color: #edecea;
    line-height: 26.6px;
    font-size: 14px;
}
body ::selection {
    color: #ffffff;
    background: #c42b33;
}
}
.news-list_container_item_date {
    font-size: 13px;
    line-height: 16.9px;
    color: #c42b33;
    font-weight: 500;
    margin-bottom: 20px;
}
@media only screen and (min-width: 1024px){
div, p, span {
    line-height: 28.5px;
    font-size: 15px;
}
div, p, span {
    text-align: justify;
    font-weight: 400;
    line-height: 26.6px;
    font-size: 14px;
}

user agent stylesheet
div {
    display: block;
}
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
@media only screen and (min-width: 1024px){
body {
    line-height: 28.5px;
    font-size: 15px;
}
body {
    font-family: "Roboto", sans-serif;
    color: #5a5956;
    font-weight: 300;
    background-color: #edecea;
    line-height: 26.6px;
    font-size: 14px;
}
body ::selection {
    color: #ffffff;
    background: #c42b33;
}
}
.news-list_container_item_title {
    text-align: left;
    display: block;
    font-size: 30px;
    line-height: 26px;
    color: #1d1d1d;
    font-weight: 300;
    text-decoration: none;
}
@media only screen and (min-width: 1024px){
a {
    line-height: 28.5px;
    font-size: 15px;
}
a {
    text-decoration: none;
    color: #c42b33;
    line-height: 26.6px;
    font-size: 20px;
}


user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (min-width: 1024px){
div, p, span {
    line-height: 28.5px;
    font-size: 15px;
}
div, p, span {
    text-align: justify;
    font-weight: 400;
    line-height: 26.6px;
    font-size: 14px;
}
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
@media only screen and (min-width: 1024px){
body {
    line-height: 28.5px;
    font-size: 15px;
}
body {
    font-family: "Roboto", sans-serif;
    color: #5a5956;
    font-weight: 300;
    background-color: #edecea;
    line-height: 26.6px;
    font-size: 14px;
}
body ::selection {
    color: #ffffff;
    background: #c42b33;
}
}
@media only screen and (min-width: 1024px){
.news-list_container_item {
    min-height: 150px;
}
}
@media only screen and (min-width: 769px){
.news-list_container_item {
    padding: 0 40px;
}
}
.news-list_container_item {
    padding: 0 20px;
    float: left;
}
.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 99%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
}
@media only screen and (min-width: 1024px){
div, p, span {
    line-height: 28.5px;
    font-size: 15px;
}
div, p, span {
    text-align: justify;
    font-weight: 400;
    line-height: 26.6px;
    font-size: 14px;
}

user agent stylesheet
div {
    display: block;
}
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
@media only screen and (min-width: 1024px){
body {
    line-height: 28.5px;
    font-size: 20px;
}
body {
    font-family: "Roboto", sans-serif;
    color: #5a5956;
    font-weight: 300;
    background-color: #edecea;
    line-height: 26.6px;
    font-size: 14px;
}
body ::selection {
    color: #ffffff;
    background: #c42b33;
    
}
}
.homepage-tab_header {
    /* background: #1d1d1d url(../image/footer-background-pattern.png); */
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: solid #d9d8d6;
    border-width: 1px 0;
    background-color: ;
}
@media only screen and (min-width: 1024px){
div, p, span {
    line-height: 28.5px;
    font-size: 15px;
}
div, p, span {
    text-align: justify;
    font-weight: 400;
    line-height: 26.6px;
    font-size: 14px;
}

user agent stylesheet
div {
    display: block;
}
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
@media only screen and (min-width: 1024px){
body {
    line-height: 28.5px;
    font-size: 15px;
}
body {
    font-family: "Roboto", sans-serif;
    color: #5a5956;
    font-weight: 300;
    background-color: #edecea;
    line-height: 26.6px;
    font-size: 14px;
}
body ::selection {
    color: #ffffff;
    background: #c42b33;
}
}
.homepage-tab_header_item a {
  text-decoration: none;
  color: #fff;
}
.homepage-tab_header_item {
    font-weight: 300;
    cursor: pointer;
    font-size: 28px;
    margin: 0 20px;
    padding: 20px 0;
    position: relative;
    color: #1d1d1d;
    text-decoration: none;
}
@media only screen and (min-width: 1024px){
div, p, span {
    line-height: 28.5px;
    font-size: 15px;
}
div, p, span {
    text-align: justify;
    font-weight: 400;
    line-height: 26.6px;
    font-size: 14px;
}

user agent stylesheet
div {
    display: block;
}
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
@media only screen and (min-width: 1024px){
body {
    line-height: 28.5px;
    font-size: 15px;
}
body {
    font-family: "Roboto", sans-serif;
    color: #5a5956;
    font-weight: 300;
    background-color: #edecea;
    line-height: 26.6px;
    font-size: 14px;
}
body ::selection {
    color: #ffffff;
    background: #c42b33;
}
}
.homepage-tab_header_item a {
    padding: 10px;
    min-width: 220px;
    background: #c42b33;
    border-radius: 0;
    border: 1px solid #c42b33;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    top: -60px;
    left: 0;
    right: 0;
    cursor: pointer;
    margin: 0 auto;
    z-index: 999;
    display: block;
    text-align: center;
}
@media only screen and (min-width: 1024px){
a {
    line-height: 28.5px;
    font-size: 15px;
}
a {
    text-decoration: none;
    color: #c42b33;
    line-height: 26.6px;
    font-size: 14px;
}

user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
}
.homepage-tab_header_item {
    font-weight: 300;
    cursor: pointer;
    font-size: 28px;
    margin: 0 20px;
    padding: 20px 0;
    position: relative;
    color: #1d1d1d;
}
@media only screen and (min-width: 1024px){
div, p, span {
    line-height: 28.5px;
    font-size: 15px;
}
div, p, span {
    text-align: justify;
    font-weight: 400;
    line-height: 26.6px;
    font-size: 14px;
}
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
@media only screen and (min-width: 1024px){
body {
    line-height: 28.5px;
    font-size: 15px;
}
body {
    font-family: "Roboto", sans-serif;
    color: #5a5956;
    font-weight: 300;
    background-color: #edecea;
    line-height: 26.6px;
    font-size: 14px;
}
body ::selection {
    color: #ffffff;
    background: #c42b33;
}
}
.financial-data .swiper-pagination, .news-list .swiper-pagination {
    display: block;
    bottom: 30px !important;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}
.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10;
}
@media only screen and (min-width: 1024px){
div, p, span {
    line-height: 28.5px;
    font-size: 15px;
}
div, p, span {
    text-align: justify;
    font-weight: 400;
    line-height: 26.6px;
    font-size: 14px;
}

user agent stylesheet
div {
    display: block;
}
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
@media only screen and (min-width: 1024px){
body {
    line-height: 28.5px;
    font-size: 15px;
}
body {
    font-family: "Roboto", sans-serif;
    color: #5a5956;
    font-weight: 300;
    background-color: #edecea;
    line-height: 26.6px;
    font-size: 14px;
}
body ::selection {
    color: #ffffff;
    background: #c42b33;
}
}
.homepage-tab_header {
    /* background: #1d1d1d url(../image/footer-background-pattern.png); */
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: solid #d9d8d6;
    border-width: 1px 0;
    background-color: #EDECEA;
}
@media only screen and (min-width: 1024px){
div, p, span {
    line-height: 28.5px;
    font-size: 15px;
}
div, p, span {
    text-align: justify;
    font-weight: 400;
    line-height: 26.6px;
    font-size: 14px;
}

user agent stylesheet
div {
    display: block;
}
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
@media only screen and (min-width: 1024px){
body {
    line-height: 28.5px;
    font-size: 15px;
}
body {
    font-family: "Roboto", sans-serif;
    color: #5a5956;
    font-weight: 300;
    background-color: #edecea;
    line-height: 26.6px;
    font-size: 14px;
}
body ::selection {
    color: #ffffff;
    background: #c42b33;
}
}
.carousel-control-next{
    background-color: #c42b33;
}
.carousel-control-prev-icon{
background-color: #c42b33;
}

}

.slider_back{
    height: 75vh;
    width: 100%;
    background-image: url(OYAK_Mobil_uygulama-2519.jpg);
}
